.background {
	-fx-background-image: url("/images/sfondo_TicketTwo.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.topbar {
	-fx-background-color: white;
}

.sfondopred {
	-fx-background-color: white;
}

.titolo {
	-fx-font-weight: bold; 
	-fx-font-size: 15px;
}


.sottotitolo {
	-fx-font-weight: bold; 
	-fx-font-size: 13px;
}

.prezzoscontato {
	-fx-font-weight: bold; 
	-fx-text-fill: #27ae60; /* Verde per indicare vantaggio economico */
}

.qr {
	-fx-background-image: url("/images/qrcode.png");
    
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    
    /* Dimensioni del QR */
    -fx-min-width: 250px;
    -fx-min-height: 250px;
    -fx-pref-width: 250px;
    -fx-pref-height: 250px;
}

